In [2]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

In [13]:
from numpy import NaN as NA
data = pd.DataFrame([[1., 6.5, 3.],[1., NA, NA],[NA, NA, NA],[NA, 6.5, 3.]])
data = data.dropna(axis=1, how = 'all')
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [7]:
obj = pd.Series(['blue','purple','yellow'], index =[0,2,4])
obj = obj.reindex(range(6), method = 'ffill')
obj

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [26]:
frane = pd.DataFrame(np.arange(8).reshape((2,4)), index = ['three','one'],columns =['d','a','b','c'])
frane = frane.sort_index()
frane
frane['a'] = np.arange(2)
frane

       d  a  b  c
one    4  0  6  7
three  0  1  2  3

In [ ]:
pd.delete

In [19]:
arr=np.arange(12.).reshape((3,4))
print(arr-arr[0])

[[0. 0. 0. 0.]
 [4. 4. 4. 4.]
 [8. 8. 8. 8.]]

In [20]:
arr

array([[ 0.,  1.,  2.,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [27]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon': 16000, 'Utah':5000}
states = ['Calefornia','Ohio','Oregon','Texas']
f_data = pd.Series(sdata,index=states)
f_data

Calefornia        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
frame1 =  pd.DataFrame({'a':[0,1,0,1], 'b':[4,7,-3,2]})
frame1 = frame1.sort_values(by = ['a','b'])
frame1

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

In [ ]:
s1 = pd.Series()